{{ define "aboutContent" }}
<div class="flex flex-col items-center justify-center text-[#FFC800]">
    <h1 class="text-[54pt] font-[Reem_Kufi]">about me</h1>
    <section>
        <div class="flex flex-row">
            <div class="w-px bg-[#FFC800] mx-8"></div>
            <p class="font-[SnapItMono] text-[28pt]">
                Hello, my name is Adam Younes, <br/> 
                I am a Palestinian swe and gamedev. <br/>
                Welcome to my website.
            </p>
        </div>
    </section>

    <section class="mt-10 font-[Reem_Kufi] text-[38pt]">
        <h2>skills</h2>
    </section>

</div>
{{ end }}

