{{ define "aboutContent" }}

{{ template "navbar" . }}

<style>
.marquee-wrapper {
    overflow: hidden;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
}
.marquee span {
    display: inline-block;
    margin-right: 2rem; /* adjust gap */
}
</style>

<div class="flex flex-col items-center justify-center text-[#abacb2]">
    <div class="mt-10 text-center">
        <h2 class="text-4xl font-[Raleway] text-[#DEE2E6]">About</h2>
    </div>

    <section class="mt-6">
        <p class="text-center font-[SnapItMono] text-[12pt] md:text-[20pt]">
            My name is Adam Younes, I am a Palestinian software engineer.
        </p>
    
    </section>
</div>

{{ end }}

