{{ define "contactContent"}}
<section class="contact">
    <h2>Get in Touch</h2>
    <form
        hx-post="/api/contact"
        hx-trigger="submit"
        hx-target="#contact-response"
        hx-swap="innerHTML">
        <label>
            Your Email:
            <input type="email" name="email" required>
        </label>
        <label>
            Message:
            <textarea name="message" rows="3" required></textarea>
        </label>
        <button type="submit">Send Message</button>
    </form>
    <div id="contact-response"></div>
</section>
{{ end }}
