{{ define "indexContent" }}

<div class="flex flex-col items-center text-[#abacb2]">
    <h1 class="text-[20pt] md:text-[38pt] font-[Raleway] text-[#DEE2E6]">— adam younes —</h1>
    <div class="flex md:flex-row flex-col align-center">
        <img
            src="/static/assets/MarbleBust.png"
            alt="Portrait"
            class="
            w-64
            md:w-128
            h-auto
            object-contain
            [image-rendering:pixelated]
            [image-rendering:crisp-edges]
            pt-10
            md:pt-0"
        />

        <div class="
            flex
            mt-10
            md:mt-0
            flex-col
            justify-center
            space-y-2
            text-center
            text-[20pt]
            font-[Raleway]
            md:text-left
            md:text-[24pt]
            ">
            <a href="/about"
                class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
                About
            </a>
            <a href="/projects"
                class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
                Projects
            </a>
            <a href="/experience"
                class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
                Experience
            </a>
            <a href="/blog"
                class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
                Blog
            </a>

        </div>
    </div>
</div>
{{ end }}
