{{ define "indexContent" }}

<div class="flex pt-[20vh] flex-col items-center text-[var(--color-text-secondary)] space-y-8">
    <!-- Original Content -->
    <div class="w-full">
        <h1 class="text-[20pt] md:text-[32pt] font-[SFMonoLight] text-[var(--color-text-primary)] text-center mb-8">— adam younes —</h1>
    <div class="flex flex-col md:flex-row items-center justify-center gap-8">
        <img
            src="/static/assets/MarbleBust.png"
            alt="Portrait"
            class="
            w-48
            md:w-96
            h-auto
            object-contain
            [image-rendering:pixelated]
            [image-rendering:crisp-edges]"
        />

        <div class="
            flex
            flex-col
            justify-center
            items-center
            md:items-start
            space-y-2
            text-center
            md:text-left
            gap-3
            text-[20pt]
            font-[Raleway]
            md:text-[24pt]
            ">
            <a href="/about" hx-boost="false"
                class="hover:underline hover:text-[var(--color-text-primary)] transition-colors duration-200 ease-in-out">
                About
            </a>
            <a href="/projects" hx-boost="false"
                class="hover:underline hover:text-[var(--color-text-primary)] transition-colors duration-200 ease-in-out">
                Projects
            </a>
            <a href="/experience" hx-boost="false"
                class="hover:underline hover:text-[var(--color-text-primary)] transition-colors duration-200 ease-in-out">
                Experience
            </a>
            <a href="/notes" hx-boost="false"
                class="hidden md:block hover:underline hover:text-[var(--color-text-primary)] transition-colors duration-200 ease-in-out">
                Notes
            </a>
        </div>
    </div>
</div>
{{ end }}
