{{ define "notesContent" }}
{{ template "navbar" . }}
<div class="flex min-h-screen">
    {{ template "sidebar" . }}
    <section class="flex-1 p-6 prose prose-lg font-[DM_Mono] max-w-none">
        {{ if .CurrentNote }}
        <article class="p-6 rounded-lg shadow-sm ">
            <h1 class="text-2xl font-bold mb-6 text-gray-200">{{ .CurrentNote.Title }}</h1>
            <div class="!text-[#abacb2] prose prose-lg max-w-none">
                {{ .CurrentNote.Content }}
            </div>
        </article>
        {{ else }}
        <p class="text-l text-gray-300">
            Select a note from the sidebar to view its contents.
        </p>
        {{ end }}
    </section>
</div>
{{ end }}

