@import "tailwindcss";

@font-face {
    font-family: 'SFMonoRegular';
    src: url('../fonts/SFMonoRegular.otf') format('opentype'),
        url('../fonts/SFMonoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitmgothic';
    src: url('../fonts/Bitmgothic/Bitmgothic.otf') format('opentype'),
        url('../fonts/Bitmgothic/Bitmgothic.ttf') format('truetype'),
        url('../fonts/Bitmgothic/Bitmgothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EXE';
    src: url('../fonts/exe/EXEPixelPerfect.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SnapItMono';
    src: url('../fonts/snap-it/Snap-itmono-1.6-Regular.otf') format('opentype'),
        url('../fonts/snap-it/Snap-itmono-1.6-Regular.woff') format('woff'), 
        url('../fonts/snap-it/Snap-itmono-1.6-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin:0;
    padding:0; 
    color: #fff;
    background:#222034; 
}

nav { 
    background:#222034; 
    color:#fff; 
    padding:1rem; 
}

nav a { 
    color:#F4EBD4; 
    margin-right:1rem; 
    text-decoration:none; 
}

nav a:hover {
    color: #FFC800;
    text-decoration:underline;
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
