@import "tailwindcss";

:root {
    color: var(--text-dark);
}

@font-face {
    font-family: 'SFMonoRegular';
    src: url('../fonts/SFMonoRegular.otf') format('opentype'),
        url('../fonts/SFMonoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitmgothic';
    src: url('../fonts/Bitmgothic/Bitmgothic.otf') format('opentype'),
        url('../fonts/Bitmgothic/Bitmgothic.ttf') format('truetype'),
        url('../fonts/Bitmgothic/Bitmgothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EXE';
    src: url('../fonts/exe/EXEPixelPerfect.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SnapItMono';
    src: url('../fonts/snap-it/Snap-itmono-1.6-Regular.otf') format('opentype'),
        url('../fonts/snap-it/Snap-itmono-1.6-Regular.woff') format('woff'), 
        url('../fonts/snap-it/Snap-itmono-1.6-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin:0;
    padding:0; 
    color: #fff;
    background:#212529; 
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
