/* static/css/elements/navbar.css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navlink {
    font-family: "Pixelify Sans";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20pt;
    margin: 0;
    color: #F4EBD4;
}

.navlink:hover {
    color: #FFC800;
    text-decoration:underline;
}
