{{ define "navbar" }}
<div class="flex bg-[#161719] flex-col justify-center items-center pt-1 pb-2">
    <nav class="navbar flex gap-10 font-[Raleway] font-regular text-[18pt] justify-center text-[#abacb2]">
        <a href="/"
            class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
            Home
        </a>
        <a href="/about"
            class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
            About
        </a>
        <a href="/projects"
            class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
            Projects
        </a>
        <a href="/experience"
            class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
            Experience
        </a>
        <a href="/"
            class="hover:underline hover:text-[#DEE2E6] transition-colors duration-200 ease-in-out">
            Blog
        </a>

    </nav>
</div>
{{ end }}

