{{ define "project" }}
<article class="p-6 bg-[#2C3033] rounded-md shadow-md hover:shadow-xl transition-shadow hover:rounded-xl overflow-hidden grid grid-rows-2 h-64">
    <div className="row-span-1 w-full h-full bg-gray-100 dark:bg-gray-800">
        <img src="/static/assets/marble_bust.png" class="object-cover w-full h-full">
    </div>

    <h3 class="text-2xl font-bold mb-2">
        <a href="{{ .Link }}" target="_blank" class="hover:underline">
            {{ .Title }}
        </a>
    </h3>
    <p class="text-base mb-4">{{ .Description }}</p>
</article>
{{ end }}

